$h-font: 30px;
$black: rgb(32, 26, 26);
$white: #fff;
$themeColor: #fbe0dc;

.nav {
  width: auto;
  margin: 0;
  padding: 18px 0;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: $h-font;
    color: $black;
    background-color: $white;

    width: fit-content;

    font-weight: 600;
    margin-left: 0%;
    flex-grow: 0.5;
  }

  .ul-container {
    flex-grow: 2;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    //border: 1px solid black;
    width: 100%;
  }

  li {
    display: inline-block;
    font-family: Segoe UI;
    font-weight: 500;
  }

  .btn-container {
    float: right;
  }
  .login-btn {
    background: white;
    border: none;
    margin-right: 25px;
    padding: 5px 20px;
    border-radius: 20px;
    &:hover {
      background: black;
      color: white;
    }
  }
  .signup-btn {
    background: black;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid black;

    &:hover {
      background: white;
      color: black;
    }
  }

  .login-btn,
  .signup-btn {
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-out;
  }

  .link {
    margin: 0 40px;
    color: $black;
    text-decoration: none;
    .active {
      border-bottom: 4px solid $themeColor;
    }
  }
  .menu-icon {
    display: none;
    transition: 2s ease-out;
  }
}

@media screen and (max-width: 1080px) {
  .nav {
    flex-direction: column;
    text-align: center;
    transition: all 1s ease;

    .logo {
      font-size: 36px;
    }
    .menu-icon {
      display: block;
      position: absolute;
      z-index: 3;
      top: 31px;
      right: 6%;
      font-size: 24px;
      cursor: pointer;
    }
    .ul-container {
      position: absolute;
      top: 80px;
      width: 92%;
      height: 100%;
      left: 5%;
      z-index: 2;
      background: white;
      transition: all 0.5s ease;
    }
    .hide {
      left: -100%;
    }
    ul {
      margin-top: 20px;
    }
    li {
      display: block;
      font-size: 24px;
      margin-top: 20px;
    }
    .link {
      margin: 0;
      .active {
        border: none;
        font-weight: bolder;
        color: white;
        background-color: black;
      }
    }
  }
  .btn-container {
    display: grid;
    position: absolute;
    z-index: 3;
    top: 290px;
    left: 5%;
    width: 90%;
    transition: all 0.5s ease;
    justify-content: center;
    .login-btn,
    .signup-btn {
      font-size: 24px;
      margin: 20px 0 0 0;
      width: 100%;
      border: 1px solid black;
    }
    span {
      display: none;
    }
  }
}
